<p>by-country-page works!</p>
<h2>Por Region</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <!-- Searchbox -->
     <!-- <shared-search-box
    (onValue)="searchByRegion($event)"   
     placeholder="Buscar por Región">
    </shared-search-box> -->
    <button 
    *ngFor="let region of regions" 
    class="btn mx-2"
    [ngClass]="{ 'btn-primary': region === selectedRegion }"
    (click)="searchByRegion(region)">
    
        {{ region.toLocaleLowerCase() }}
    </button>
  </div>
  <hr />
  <div class="row">
    <div class="col">
        <countries-table [countries]="countries"></countries-table>
    </div>

  </div>